
.repository{
  width:260px;
  height: 40px;
  border-radius: 10px;
  margin-left: 150px;
}
.form{
  margin-left: 25%;
  margin-top: 5%;
  width:600px;
  height:500px;
  background-color:bisque;
  border-radius: 20px;
  align-items: center;
}
.dlmsg{
  text-align: center;
}
.title{
  text-align: center;
  margin-top: 20px;
}
.user{
  margin-top: 40px;
  margin-left: 150px;
width:250px;
height:30px;
border-radius: 10px;
}
.org{
  margin-left: 150px;
  width:250px;
  height:30px;
  border-radius: 10px;
}
.repo{
width:120px;
height: 40px;
font-size: 14px;
margin-left: 150px;
border-radius: 10px;
cursor: pointer;
}

.orgrepo{
  width:120px;
  height: 40px;
  font-size: 14px;
  margin-left: 15px;
  border-radius: 10px;
  cursor: pointer;
  }

.branch{
margin-left:150px;
width:250px;
height:30px;
border-radius: 10px;
}
.download{
margin-left: 200px;
margin-top: 10px;
width: 150px;
height:40px;
border-radius: 10px;
font-size: 16px;
cursor: pointer;
}
.profile{
  margin-left: 25%;
  margin-top: 2%;
}

.login{
  margin-left: 25%;
  margin-top: 10%;
  width: 150px;
  height:50px;
  border-radius: 20px;
  font-size: 18px;
  cursor: pointer;
}

.logout{
  margin-left: 90%;
  margin-top: 2%;
  width: 100px;
  height:50px;
  font-size: 18px;
  border-radius: 20px;
  cursor:pointer;
}